# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
#
# Link to help info - https://git-scm.com/docs/gitignore
#

# Ignore sub-charts
# when helm pulls in dependencies (dependency.yaml) it keeps the chart locally. We don't want
# to check these into git as they are not owned by this project and helm will automatically
# retrieve from the authoritative source
**/charts/**/charts/**
Chart.lock

# vscode editor
**/.vscode*/**
**/.factorypath
**/**.code-workspace

# IntelliJ
*.iml
**.iml
*.ipr
*.iws
.idea
venv

# Eclipse
.cache
.classpath
.project
.checkstyle
.settings

THIRD_PARTY*.txt

site/site/

requirements.lock
