# SPDX-License-Identifier: Apache-2.0
  # Copyright Contributors to the Egeria project.
---
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: {{ .Release.Name }}-strimzi
spec:
  kafka:
    version: 3.3.2
    replicas: 1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
{{ if .Values.strimzi.externalListener.enabled }}
      - name: external
        port: 9094
        type: nodeport
        tls: false
        configuration:
          bootstrap:
            nodePort: {{ .Values.strimzi.externalListener.bootstrapNodePort }}
          brokers:
          - broker: 0
            advertisedHost: {{ .Values.strimzi.externalListener.advertisedHost }}
{{ end }}
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      auto.create.topics.enable: "true"
    readinessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    livenessProbe:
      initialDelaySeconds: 15
      timeoutSeconds: 5
    storage:
      type: jbod
      volumes:
        - id: 0
          type: persistent-claim
          size: 5Gi
          deleteClaim: true
  zookeeper:
    replicas: 1
    storage:
      type: persistent-claim
      size: 1Gi
      deleteClaim: true
  entityOperator:
    topicOperator:
      reconciliationIntervalSeconds: 20
    userOperator: 
      reconciliationIntervalSeconds: 20
