# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project

server {
    listen 8443 ssl default_server;
    server_name           _;
    ssl_certificate       /etc/nginx/ssl/tls.crt;
    ssl_certificate_key   /etc/nginx/ssl/tls.key;
    ssl_password_file     /etc/nginx/pass/pass.txt;

    root /var/www/;
    index index.html;

    # Force all paths to load either itself (js files) or go through index.html.
    location / {
        try_files $uri /index.html;
    }
}
